#logoText {
    font-size: 60px;
    font-family: 'Brush Script MT', cursive;
}

#logoText:before {
    background-image: url(img/SausageLogo.png);
    background-size: 60px 60px;
    display: inline-block;
    width: 60px;
    height: 60px;
    content: '';
}

.recipe-info {
    margin-top: 2%;
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}

.flag {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.flag:hover {
    animation-name: fade;
    animation-duration: 500ms;
    opacity: 0.5;
}

.recipe-img {
    width: 400px;
    height: 400px;
}

.fa {
    cursor: pointer;
}

.my-recipes, .my-ratings {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}