.error-text {
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

.preparation {
    white-space: pre-wrap;
}

@keyframes color-change {
    from {
        color: currentColor;
    }
    to {
        color: green;
    }
}

.recipe-link:hover {
    animation-name: color-change;
    animation-duration: 500ms;
    color: green;

}

.recipe-image img {
    width: 100%;
}

.contact-form-area {
    margin-top: 5%;
}

.author-name {
    text-decoration: underline;
    text-decoration-color: gray;
    color: gray;
}

.author-name:hover {
    text-decoration: underline;
    text-decoration-color: green;
    color: green;
}

.pdf-download {
    display: flex;
    flex-direction: row;
    justify-content: right;
}